.topnav-table{
    background-color: rgb(110, 165, 110);
}
.btns-tbl{
    display: inline-flex;
    list-style: none;
    color: white ;
}
.btns-tbl tr td{
    text-align: center;
    width: 500px;
    margin: 15px;
    padding: 8px;
}
body{
    background-image: url(psd1.JPG);
}
